// DRACULA THEME COLORS
$primary-color: #bd93f9;      // Purple
$secondary-color: #ff79c6;    // Pink

$white-color: #f8f8f2;        // Foreground
$dark-grey: #282a36;          // Background
$light-grey: #44475a;         // Current Line

$dark-blue-text: #f8f8f2;     // Headings (light on dark)

// Dracula accents
$cyan: #8be9fd;
$green: #50fa7b;
$orange: #ffb86c;
$pink: #ff79c6;
$purple: #bd93f9;
$red: #ff5555;
$yellow: #f1fa8c;
$comment: #6272a4;

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
